.activities {
  border:0.5em;
  background-color: lightgreen;
  padding-top:10em;
  padding-right:10em;
  padding-left: 10em;
  padding-bottom: 10em;
}

.p {
      font-family: Verdana, sans-serif;
}

#activityName {
    font-size: 2em;
}

#category {
  font-style: italic;
  font-size: 1em;
}

#date {
  font-size: 0.7em;
}

#location {
  font-size: 1em;
  font-style: oblique;

}
