/*CSS dokuemtn for GoogleMaps.html */

h1 {text-align: center;}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 2em;
}

.topnav a {
  display: flex;
  flex-direction: column;
  display: inline-flex;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: flex;
    justify-content: center;
    text-align: left;
  }

table {
  display: flex;
  table-layout: auto;
  border-spacing: 0.2em;
  border: 1px, solid, black;
}
